body {
 font-family: 'Roboto Mono', monospace;
 transition: ease-in 1s;
}

/* containers */

.cont {
 margin: 0.25rem;
}

.cont--align-center {
 align-items: center;
}

.cont--border {
 border-top: 1px solid black;
}

.cont--flex-column {
 display: flex;
 flex-direction: column;
}

.cont--flex-row {
 display: flex;
 flex-direction: row;
}

.cont--justify-center {
 justify-content: center;
}

.cont--padding {
 padding-bottom: 1rem;
 padding-top: 1rem;
}

.cont--data {
 flex-grow: 1;
 max-width: 800px;
 min-width: 100%;
}

@media (min-width: 800px) {
 .cont--data {
  min-width: 800px;
 }
}

.cont--footer {
 height: 50px;
 bottom: 0;
 justify-content: center;
 margin: 0.25rem;
}

.cont--main {
 min-height: 100vh;
}

.cont--search-input {
 width: 100%;
 flex-grow: 1;
 max-width: 480px;
}

/* text styles */

.heading {
 font-size: 2.25rem;
 margin: 0.25rem;
 font-weight: normal;
}

.heading--center {
 text-align: center;
}

.heading--xlarge {
 font-size: 3.5rem;
}

.subheading {
 font-size: 0.8rem;
 margin: 0.25rem;
}

.subheading--bold-underline {
 text-decoration: underline;
 font-weight: bold;
}

.body {
 font-size: 1rem;
 margin: 0.25rem;
}

.body--flex-grow-1 {
 flex-grow: 1;
 flex-shrink: 1;
 flex-basis: 0;
 margin: 0;
}

.body--flex-grow-2 {
 flex-grow: 2;
 flex-shrink: 1;
 flex-basis: 0;
 margin: 0;
}

/* search input and button */

.input {
 margin: 0.25rem;
 padding: 0.5rem;
 background-color: transparent;
 border-radius: 0;
 border: 1px solid black;
 font-family: 'Roboto Mono', monospace;
 font-size: 1rem;
}

.input:focus {
 outline: 1px dotted black;
}

.button {
 margin: 0.25rem;
 background-color: black;
 border: 1px solid black;
 color: white;
 padding: 0.5rem;
 text-align: center;
 width: 50%;
 max-width: 200px;
 font-size: 1rem;
 cursor: pointer;
 font-family: 'Roboto Mono', monospace;
 transition: 0.2s all;
}

.button:hover {
 background-color: transparent;
 color: black;
}

.button:focus {
 outline: 1px dotted black;
}

.button:active {
 transform: scale(0.92);
}

::placeholder {
 color: black;
 opacity: 0.5;
}

/* spinner */

.spinner {
 border: 4px solid transparent;
 border-radius: 50%;
 border-top: 4px solid black;
 width: 40px;
 height: 40px;
 animation: spin 2s linear infinite;
 top: 50%;
 right: 50%;
 margin-top: -20px;
 margin-right: -20px;
 position: fixed;
}

@keyframes spin {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}

/* weather condition colours */

.bg01d,
.bg01n {
 background-color: #f2e9e4;
}

.bg13d,
.bg13n,
.bg50d,
.bg50n {
 background-color: #c9ada7;
}

.bg02d,
.bg02n,
.bg03d,
.bg03n,
.bg04d,
.bg04n {
 background-color: #9a8c98;
}

.bg09d,
.bg09n,
.bg10d,
.bg10n,
.bg11d,
.bg11n {
 background-color: #555977;
}
